[Unit]
Description=Bobaos Datapoint Sdk Daemon

[Service]
ExecStart=/bin/bash /opt/bdsd.sock/start.sh
WorkingDirectory=/opt/bdsd.sock
Restart=always
User=pi

[Install]
WantedBy=multi-user.target