[Unit]
Description=Bobaos Datapoint Sdk Daemon

[Service]
ExecStart=/usr/bin/env node %h/bdsd.sock/index.js
WorkingDirectory=%h/bdsd.sock

[Install]
WantedBy=multi-user.target
